.center-text {
    padding-top: 1rem;
    padding-left: 1rem;
}

.navbar-color {
    background-color: #9FA8DA;
    padding-bottom: 8px;
}

.center-image {
    padding-top: 0.5rem;
}

.center-image img {
    display: block;
    max-height: 100%;
    max-width: 100%;
  }
  